@import url("table.css");
@import url("sidebar.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: PT Sans;
    overflow: auto;
    @apply text-black;
}

.carousel-indicator-item.active {
    background-color: #2579d1;
}

body {
    @apply bg-background font-sans;
}

/* Component */
.title-large {
    @apply font-semibold text-[32px] text-navy;
}

.title-semibold {
    @apply font-semibold text-black text-xl;
}

.title-medium {
    @apply font-medium text-navy text-xl mb-1;
}

.title-field {
    @apply font-medium text-blue-primary mb-1.5;
}

.breadcrumb-link {
    @apply inline-flex items-center text-blue-primary;
}

.breadcrumb-current {
    @apply flex items-center text-grey-secondary;
}

.button-previous {
    @apply flex items-center text-blue-primary mb-7;
}

.button-primary-hover {
    @apply flex justify-center font-medium rounded-full border-2 border-blue-primary text-white py-2 bg-blue-primary hover:text-blue-primary hover:bg-white;
}

.button-primary {
    @apply flex justify-center items-center bg-blue-primary text-white rounded-full;
}

.button-secondary {
    @apply flex justify-center items-center bg-grey-accent text-black rounded-full;
}

.button-delete {
    @apply p-2 text-red border border-grey-accent rounded-full hover:bg-red hover:text-white;
}

.button-danger {
    @apply text-white text-center bg-red rounded-full;
}

.button-disabled {
    @apply flex items-center opacity-50 pointer-events-none;
}

.button-primary-orange {
    @apply font-semibold hover:bg-orangeSecondary transition duration-500 ease-out rounded-sm bg-orangeKarier text-white;
}

.chip-blue {
    @apply rounded-lg bg-blue-secondary text-white py-1 px-3 w-fit h-fit;
}

.chip-green {
    @apply rounded-lg bg-green-secondary text-white py-1 px-3 w-fit h-fit;
}

.chip-orange {
    @apply rounded-lg bg-orange text-white py-1 px-3 w-fit h-fit;
}

.input-field {
    @apply bg-white border border-gray-300 text-sm rounded-md w-full px-3 py-2.5;
}

.input-type-color {
    @apply appearance-none w-full h-full border-0 rounded-md outline-none cursor-pointer p-0;
}

.input-type-color::-webkit-color-swatch-wrapper {
    @apply p-0;
}

.input-type-color::-webkit-color-swatch {
    @apply border-0 rounded-md;
}

.input-type-color::-moz-color-swatch {
    @apply border-0 rounded-md;
}

.bullet-point {
    @apply min-w-[10px] min-h-[10px] rounded-full;
}

.error-message {
    @apply capitalize-first text-sm text-red;
}

.applicant-card-active::after {
    content: "";
    @apply h-3 inset-x-0 bottom-0 absolute rounded-b-xl bg-blue-primary;
}

.applicant-card:hover::after {
    content: "";
    @apply h-3 inset-x-0 bottom-0 absolute rounded-b-xl bg-blue-accent;
}

/* Alert Notyf */
.notyf {
    @apply !justify-start !items-center;
}

.notyf__toast {
    @apply !mt-0;
}

/* Nav Dropdown */
.dropdown-item {
    @apply flex py-3 px-5 gap-x-3 whitespace-nowrap hover:bg-grey-accent;
}

/* Scrollbar Sidebar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-3xl bg-grey-stroke;
}

.ck-editor__editable[role="textbox"] {
    height: 200px;
}